<section class="wrap">
  <h1>About</h1>
  <p appReveal><strong>Full name:</strong> Luka Kikvidze</p>
  <p appReveal revealDelay="120ms">I am an Angular developer focused on building performant, accessible, and maintainable applications with clean architecture and thoughtful UX.</p>
  <ul class="tags" aria-label="Skills list">
    <li *ngFor="let s of skills; let i = index" appReveal [revealDelay]="i*70">{{s}}</li>
  </ul>
 <h2 appReveal revealDelay="120ms">Certifications</h2>
<ul>
  <li appReveal>
    Cisco Python Essentials 
    <a href="assets/CV/Python_Essentials.pdf" download>Download PDF</a>
  </li>
  <li appReveal revealDelay="100ms">
    Cisco Computer Hardware Basics 
    <a href="assets/CV/Computer_Hardware_Basics_Badge.pdf" download>Download PDF</a>
  </li>
</ul>

  <h2>Contact</h2>
  <p>Phone: <a href="tel:+995551754675">+995 551 754 675</a></p>
  <p>CV: <a href="assets/CV/CV.odt" download>Download PDF</a></p>
</section>
